# Local environments
.env
.env.*
!.env.example

# Local data and initialization scripts
init/mysql/*
!init/mysql/.gitkeep
init/postgres/*
!init/postgres/.gitkeep
init/mongo/*
!init/mongo/.gitkeep

# Notebooks
notebooks/*
!notebooks/.gitkeep

# OpenAPI Mock data
openapi/*
!openapi/.gitkeep
